.edit {
    width: 50%;
    margin-top: 1em;
    padding: 1em;
    display: block;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    font: roboto;
}

.formDiv {
    margin-top: 1em;
}