html {
   
}

.item {
    width: 25%;
    margin: 1em;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start
}

.poster {
    margin-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-div {
   text-align: center;
}