.form-div {
    margin: 1em;
}

.addMovie {
    text-align: center;
    display: flex;
    justify-content: center;
    font: roboto;
}

.add {
    width: 50%;
    margin-top: 1em;
    padding: 1em;
    display: block;
}