
.item {
    width: 25%;
    margin: 1em;
    padding: 1em;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.searchMovie {
    text-align: center;
    display: flex;
    justify-content: center;
    font: roboto;
}